/* =============================================
   DESN 378: Code + Design 2
   Your portfolio styles go here.

   Replace this with your CSS from DESN 368
   or start fresh with your own design.
   ============================================= */

/* Basic reset and defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Font */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  background-image: url('../assets/images/bg.gif');
  background-size: cover;
  margin: 0 auto;
  padding: 1rem;
  color: #ffffff;
 
}

body h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  background-size: cover;
  width: 100vh;
}

.main2 {
  float:right;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  width: 100vh;
  padding-top: 2rem;
}
.week-links {
  width: 100%;
} 

.main2 h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}

// Styling for the list of links in main for portfolio
main ul{
  list-style-type: none;
  padding-left: 0;
  list-style: none;
} 

main a{
  color: #013860;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: aquamarine;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1.5em;
}

main a:hover{
  background-color: #008484;
  color:white;
} 

// Styling for the list of links in main2
.main2 ul{
  list-style-type: none;
  padding-left: 0;
} 

.main2 a{
  color: #013860;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: aquamarine;
  padding: 0.5rem;
  border-radius: 8px;
}

.main2 a:hover{
  background-color: #008484;
  color:white;
} 

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font: 1.25em sans-serif;
}

code {
  background: #000000;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-family: 'SF Mono', Consolas, monospace;
}
