html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  background-color: #FF9500;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  display: block;
  border-color: rgba(255, 245, 73, 0.39);
}

button:hover {
  background-color: rgba(255, 149, 0, 0.71);
  color: white;
  cursor: pointer;
}