html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.story-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}   
.story-container img{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.story-text{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    width:45%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    z-index: 2;
}
.story-text p{
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Bebas Neue", sans-serif;
    text-align:left;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #bbb;
  display: inline-block;
  transition: background 0.3s;
}

.dot.active {
  background: #333;
}
.story-progress{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}