html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.title h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Bebas Neue", sans-serif;
    z-index: 2;
}
.story-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}   
.story-container img{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
#story-title{
    position: absolute;
    justify-content: center;
    top: 10px;
    left: 10px;
    width:25%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Bebas Neue", sans-serif;
    text-align:left;
    z-index: 2;
}
#story-caption{
    position: absolute;
    justify-content: center;
    top: 5em;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    width:22.5%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Varela Round", sans-serif;
    text-align:left;
    z-index: 2;
}
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fbd286;
  display: inline-block;
  transition: background 0.3s;
}

.dot.active {
  background: #ffb300;
}
.story-progress{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3;
}