html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.story-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}   
.story-container img{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.story-text{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
}